main{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img{
    /* constrain images on small screens */
    max-width: 100%;
}


.top10form {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;

}

button{
    margin: 5px;
}

#leaderboard{
    overflow-y: auto;
    overflow-x: auto;
    height: 65vh;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
}
