main{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;

    font-size: 16px;
}

main img{
    /* constrain images on small screens */
    max-width: 100%;
}

#quizGuide{
    display: none;
}

hr{
    width: 40%;
    color: grey;
    margin-top: 1px;
    margin-bottom: 1px;
}


#quizHeader {
    width: 100%;
    margin-bottom: -5vh;
    padding: 0.2%;
    background-color: #e93232;
    color: white;
    text-align: center;
    font-size: 4vmin;
}

.jumbotron{
    color: white;
    background-color: #e93232;
}

#top10form {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
}

#quizScreen {
    display:none;
}
button{
    margin: 5px;
}

#quizTitle{
    font-size: 6vmin;
    margin: auto;
}

#questionInfo{
    font-size: 2.5vmin;
    margin-top: 0;
    margin-bottom: 0;
}

#clockImage{
    font-size: 2.5vmin;
    width: 6vmin;
    z-index: -1;
}

#score{
    margin-top: 0px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 3.5vmin;
}

#final_score{
    margin-top: 0px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 500%;

}

#time{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#timer_color{
    height: 2em;
}
#questionBox{
    font-size: 4vmin;
    min-height: 4em;
}

#question{
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    margin: auto;
}
#allAnswers{
    height: 15em;
}
.answerButtons{
    font-size: 3vmin;
}

#skip_question, #stop{
    font-size: 3vmin;
}

#difficultyText{
    margin-bottom: 0px;
}
#difficulty{
    margin: auto;
    width: 10%;
}

#leaderboard{
    overflow-y: auto;
    overflow-x: auto;
    margin: auto;
    max-height: 60vh;
}

#question_results_table{
    overflow-y: auto;
    overflow-x: auto;
    margin: auto;
    max-width: 90%;
    max-height: 80%;
}


footer{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}

#barChart{
    margin: auto;
    max-width: 80%;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -60px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}