main{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img{
    /* constrain images on small screens */
    max-width: 100%;
}

#quizScreen{
    max-height: 100vh;
}

.top10form {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;

}

button{
    margin: 5px;
}

#leaderboard{
    overflow-y: auto;
    overflow-x: auto;
    margin: auto;
    max-width: 80%;
    max-height: 60%;
}

footer{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}

#barChart{
    margin: auto;
    max-width: 80%;
}


