{% extends "layout.html" %}


{% block main %}
<div id = "barChart">
    <canvas id="myChart"></canvas>
    <form action="/quiz" method="get">
        <button type="submit" class="btn btn-info">Play again!</button>
    </form>

    <form action="/" method="get">
        <button type="submit" class="btn btn-primary">Home</button>
    </form>
</div>



<script>
    var made = false;
    var scores;
    fetch('/chart_values')
        .then((response) => {
        return response.json();
        })
        .then((data) => {
        scores = data;
        });

    setInterval(make_chart, 500)
    function make_chart() {
        if (!made) {
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['General Knowledge', 'Computer Science', 'Geography', 'History', 'Animals'],
                    datasets: [{
                        label: 'How did you score in each category?',
                        data: scores,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                        ],
                        borderWidth: 6
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            made = true;
        }
    }
</script>

{% endblock %}