{% extends "layout.html" %} {% block main %}
<div id="barchart">
    <canvas id="my_chart0"></canvas>
    <canvas id="my_chart1"></canvas>
    <canvas id="my_chart2"></canvas>
</div>

<div id="btn-group">
    <button onclick="location.href = '/quiz'" type="submit" class="btn btn-success">Play again!</button>
    <button onclick="location.href = '/'" type="submit" class="btn btn-danger">Home</button>
    <button onclick="location.href = '/leaderboard'" id="questions" type="submit" class="btn btn-primary">Leaderboard</button>
    <button onclick="location.href = '/questions'" id="questions" type="submit" class="btn btn-primary">Review questions</button>
</div>

<script src="static/js/barchart.js"></script>

{% endblock %}