{% extends "layout.html" %}


{% block main %}
    <div class="header">
        <h1 id="quizTitle">Kwik Kwiz</h1>
        <p>Hoe lang houd jij het vol?</p>
    </div>

    <button onclick="location.href = '/quiz'" type="submit" class="btn btn-primary">Go to Quiz!</button>

    <button onclick="location.href = '/leaderboard'" type="submit" class="btn btn-info">Leaderboard</button>

    <button onclick="location.href = '/startquiz'" type="submit" class="btn btn-danger" margin="20px">Quiz guide</button>



{% endblock %}
