{% extends "layout.html" %}


{% block main %}

<h1>Leaderboards</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Score</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>

    {% for score in scores %}
    <tr>
      <td> {{score.username}} </td>
      <td> {{score.score}}</td></td>
      <td> {{score.date}}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>

<form action="/quiz" method="get">
    <p><button type="submit" class="btn btn-primary">Play Again!</button></p>
</form>
<form action="/" method="get">
    <p><button type="submit" class="btn btn-danger">Home</button></p>
</form>
{% endblock %}
