{% extends "layout.html" %}


{% block main %}

<html lang="en">
    <h1>Kwik Kwiz</h1>

    <h5>Question difficulty:</h5>
    <div id="difficulty"></div>

    <p id="question" style="font-size: 200%;"></p>
    <p id='time'></p>

    <h5 id='category'></h5>
    <hr width="30%" style="color: grey;">
    <h5>Score:</h5>
    <h4 id='score'></h4>

    <h3 id='time'></h3>
    <h2 id="question"></h2>


    <div id='all_answers'>
      <button id='answer1' type="button" class="btn btn-primary btn-lg btn-block" onclick='check(this.innerHTML)'></button>
      <button id='answer2' type="button" class="btn btn-danger btn-lg btn-block" onclick='check(this.innerHTML)'></button>
      <button id='answer3' type="button" class="btn btn-info btn-lg btn-block" onclick='check(this.innerHTML)'></button>
      <button id='answer4' type="button" class="btn btn-warning btn-lg btn-block" onclick='check(this.innerHTML)'></button>
    </div>

    <hr style="width: 30%;">

    <div>
        <button id="skip_question" type="submit" class="btn btn-danger btn-block" onclick="skip_question()">Skip Question</button>
      <form action="/" method="get">
        <button id="stop" type="submit" class="btn btn-danger">Stop Quiz</button>
      </form>
    </div>

    <div class="form-popup" id="top10form">
      <form action="/quiz" method="post">
        <h2>Congratulations! You made the top 10!</h2>

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter username" name="username" required>


        <button type="submit" class="btn btn-success">See Results</button>
        <hr>
      </form>
    </div>
</html>

<script>
// initiate global variables

var score = 0;
var timer = 60;
var question_index = 0;
var questions;
// var correct_answer;
// var answers_length;
// var difficulty_score;
var category;
var category_scores ={
  'Computer Science' : 0,
  'Geography' : 0,
  'History' : 0,
  'Animals' : 0,
  'General Knowledge' : 0
};
console.log(category);
var checked = false;
document.getElementById("top10form").style.display = "none";
// open popup if in top10
function openPopup() {
  document.getElementById("top10form").style.display = "block";
  document.getElementById("question").style.display = "none";
  document.getElementById("all_answers").style.display = "none";
  document.getElementById("stop").style.display = "none";
}


// display default values of the timer and score (60, 0)
document.getElementById('time').innerHTML = timer;
document.getElementById('score').innerHTML = score;

// generate a question
load_questions();


// decrement time every second
setInterval(countdown, 1000);


// check the answer
function check(input) {
  fetch('/check_answer?answer='+input)
  .then((response) => {
      return response.json();
  })

  .then((data) => {
  if (data == true) {
    category_scores[category]++;
    console.log(category_scores);
    // if correct increment score
    score++;
    // add the amount of time appropriate for the difficulty of the question
    timer = timer + difficulty_score;
    // turn the background of the time green to make the time increment visible
    document.getElementById("time").style.backgroundColor = "LawnGreen";
    // display the incremented score
    document.getElementById('score').innerHTML = score;
  }
  else {
    // subract the amount of time
    timer = timer + (difficulty_score - 4);
    // make visible subraction to time
    document.getElementById("time").style.backgroundColor = "red";
  }
  question_index++;

  // generate a new question
  next(questions);
  // return timer to default color after a short time
  setTimeout(reset_color, 300);
  });
}

function reset_color() {
  document.getElementById("time").style.backgroundColor = "white";
}
// decrement timer if page loaded or end quiz if time is up
function countdown() {
  if (!document.getElementById('answer4').innerHTML) {
    return;
  }
  else if (timer >= 0) {
    document.getElementById('time').innerHTML = timer;
    timer--;
  }
  else if (timer <= 0) {
    if (!checked) {
      check_score();
    }
  }
}


function check_score() {
  if (timer < 0) {
    document.getElementById('time').innerHTML = 0;
    fetch('/check?score=' + score)
    .then((response) => {
      return response.json();
    })

    .then((data) => {
      // var check_executed == True;
      if (data.length == 2) {
        openPopup();
        checked = true;
      }
      else {
        alert(data);
        checked = true;
        location.replace("/leaderboard");
      }
    });
  }
}

function load_questions() {
  fetch('/load_questions')
  .then((response) => {
    return response.json();
  })
  .then((data) => {
    questions = data;
    next(questions);
  });
}
function next(data) {
    Question = data[question_index];

    if (Question.difficulty == "easy") {
      difficulty_score = 1;
      document.getElementById("difficulty").innerHTML = "<img src='/static/difficulty_easy.png' alt='difficulty_easy icon' style='width: 150px; height:100px;'>";
    }
    else if (Question.difficulty == 'medium') {
      difficulty_score = 2;
      document.getElementById("difficulty").innerHTML = "<img src='/static/difficulty_medium.png' alt='difficulty_medium icon' style='width: 150px; height:100px;'>";
    }
    else {
      difficulty_score = 3;
      document.getElementById("difficulty").innerHTML = "<img src='/static/difficulty_hard.png' alt='difficulty_hard icon' style='width: 150px; height:100px;'>";
    }

    category = Question.category;
    let answers = Question.answers;

    // remove the 3rd and 4th button if True/False question
    if (Question.answers.length == 2) {
      document.getElementById('answer3').style.display = "none";
      document.getElementById('answer4').style.display = "none";
    }
    else {
      document.getElementById('answer3').style.display = "block";
      document.getElementById('answer4').style.display = "block";
    }
    // displaying question and answers
    document.getElementById('question').innerHTML = Question.question;
    document.getElementById('answer1').innerHTML = answers[0];
    document.getElementById('answer2').innerHTML = answers[1];
    document.getElementById('answer3').innerHTML = answers[2];
    document.getElementById('answer4').innerHTML = answers[3];
    document.getElementById('category').innerHTML = 'Category: ' + Question.category;
}

function skip_question() {
  question_index++
  next(questions)
}

</script>

{% endblock %}